/*=================================================
*  State
=================================================== */

@each $breakpoint in map-keys($breakpoints) {
    .is-hidden {
        display: none !important;
    }
    @if $breakpoint=='lg' or $breakpoint=='md'{
        @include media-min($breakpoint) {
            .is-hidden-#{$breakpoint} {
                display: none !important;
            }
        }
    }
    @else {
        @include media($breakpoint) {
            .is-hidden-#{$breakpoint} {
                display: none !important;
            }
        }
    }
}

