/*=================================================
*  Dynamic Margin
=================================================== */
.no-margin {
    margin: 0 !important;
}
$spacing: (all: all, top: t, right: r, bottom: b, left: l ) !default;
@each $spacing, $value in $spacing {
    $index: 0;
    @while $index < 100 {
        .m#{$value}-#{$index} {
            @if $spacing == 'all' {
                margin: #{$index}px !important;
            }
            @else {
                margin-#{$spacing}: #{$index}px !important;
            }
        }
        /* breakpoints  */
        // @each $breakpoint in map-keys($breakpoints) {
        //      @include media($breakpoint){
        //         .m#{$value}-#{$breakpoint}-#{$index} {
        //             @if $spacing == 'all' {
        //                 margin: #{$index}px !important;
        //             }
        //             @else {
        //                 margin-#{$spacing}: #{$index}px !important;
        //             }
        //         }
        //     }
        // }
        $index: $index + 5;
    }
}

/*=================================================
*  Offset Margin
=================================================== */
// @each $breakpoint in map-keys($breakpoints) {
//      @include media($breakpoint){
//        .margin-offset-#{$breakpoint} {
//            margin-left: -15px;
//            margin-right: -15px;
//        }
//     }
// }

// .margin-offset{
//     margin-left: -15px !important;
//     margin-right: -15px !important;
// }