$builder-background--primary: #3B3A3B;
$builder-background--second: #605F61;
$builder-border-color: #282729;
$builder-radius: 3px;
$builder-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
$builder-brand: #24AEE9;
$builder-brand--second: #19B3F5;
$builder-color--light-primary: #ffffff;
$builder-color--light-second: #ECECEC;


.rt-builder {
    z-index: 999;
    position: fixed;
    right: 0;
    left: 300px !important;
    bottom: 0;
    background: $builder-background--primary;
    border-radius: $builder-radius;
    box-shadow: $builder-shadow;
    cursor: pointer;
    &__header {
        background: $builder-background--primary;
        padding: 10px 15px;
        border-top-left-radius: $builder-radius;
        border-top-right-radius: $builder-radius;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        color: $builder-color--light-primary;
        font-size: 16px;
        margin: 0;
        color: $builder-color--light-second;
    }
    &__display{
        margin-right: -7px;
        a{
            background: $builder-background--second;
            line-height: 25px;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            color: $color-light-primary;
            border-radius: 100px;
            margin-right: 7px;
            &.is-active{
                background: $builder-brand;
            }
        }
    }
    &__nav {
        background: $builder-background--second;
        padding: 15px !important;
        padding-bottom: 0 !important;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            padding: 3px 8px;
            font-size: 14px;
            background: #5D5A5C;
            border: 1px solid #3B3A3B;
            border-right-color: transparent;
            cursor: pointer;
            a{
                color: #D4D4D4;
            }
            &.is-active,
            &.ui-tabs-active,
            &:hover {
                background: #828182;
                a{
                    color: $builder-color--light-primary;
                }
            }
            &:first-child{
                border-top-left-radius: $builder-radius;
            }
            &:last-child{
                border-top-right-radius: $builder-radius;
                border-right-color: #3B3A3B;
            }
        }
    }
    &__body {
        padding: 15px;
    }
    &__row{
        
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    
    }
    &__column{
        
        position: relative;
         padding: 0 10px;
         flex: 1;
         display: flex;
         align-content: stretch;
        .js-builder-connect{
            width: 100%;
            background: #F4F3F4;
            min-height: 49px;
            border: 1px solid #D7D6D7;
            border-radius: 3px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            padding: 7px 10px;
        }
        .setting{
            display: none;
             z-index: 99;
             position: absolute;
             top: 0;
             right: 10px;
             background: $builder-brand;
             color: #ffffff;
             width: 23px;
             line-height: 23px;
             text-align: center;
             border-bottom-left-radius: $builder-radius;
            border-top-right-radius: $builder-radius;
            cursor: pointer;
            z-index: 99;
        }

        &:hover{
           
            .js-builder-connect{
                 border-color: $builder-brand;
            }
            .setting{
                display: block;
            }
        }
    }

     .rt-builder-element {
         position: relative;
         font-size: 12px;
         background-color: $builder-background--second;
         line-height: 28px;
         padding: 0 8px;
         margin-right: 5px;
         margin-bottom: 5px;
         color: $builder-color--light-second;
         border-radius: $builder-radius;
         .p-icon {
             border-top-left-radius: $builder-radius;
             border-bottom-left-radius: $builder-radius;
             display: inline-block;
             line-height: 28px;
             width: 28px;
             text-align: center;
             margin-right: 8px;
             background-color: $builder-background--primary;
             margin-left: -8px;
             margin-top: -8px;
         }
         .p-close {
             display: none;
            position: absolute;
            width: 20px;
            line-height: 20px;
            background: orange;
            text-align: center;
            top: -10px;
            right: -10px;
            color: #ffffff;
            border-radius: 100px;
            z-index: 9;
            cursor: pointer;
         }
         &:hover{
             .p-close{
                 display: block;
             }
         }
     }

    &__footer{
        background: $builder-background--second;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom-left-radius: $builder-radius;
        border-bottom-right-radius: $builder-radius;
    }

    
    &__device{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        color: $builder-color--light-second;
        margin-left: -5px;
        margin-right: -5px;
        li{
            position: relative;
            padding-left: 5px;
            padding-right: 5px;
            &:before{
                position: absolute;
                height: 3px;
                bottom: 0;
                right: 100px;
                left: 100px;
                content: "";
                background: $builder-brand;

            }
            &.is-active{
                &:before{
                    visibility: visible;
                    right: 0;
                    left: 0;
                }
            }
        }
    }

    &__hide{
        color: $builder-color--light-second;
    }
}

.rt-builder--source {
    background: #222222;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-left-radius: $builder-radius;
    border-bottom-right-radius: $builder-radius;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    .sortable-wrapper{
        background: transparent;
        border-color: transparent;
        
    }
    &:hover{
        .sortable-wrapper{
            border-color: transparent;
        }
    }
    .rt-builder__column{
        padding: 0;
    }
    .rt-builder-element{
        box-shadow:0px 3px 8px 0px rgba(2, 2, 2, 0.16);
        &:hover{
            .p-close {
                display: none !important;
            }
        }
    }
}
/*=================================================
* SETTING
/*================================================= */
.rt-builder-setting{
    min-width: 370px;
    display: none;
    box-shadow: $builder-shadow;
    position: absolute;
    top: -127px;
    right: 10px;
    padding: 10px;
    flex-wrap: wrap;
    background: #ECECEC;
    border: 1px solid #ABABAB;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    justify-content: space-between;
    z-index: 99;
    &:before{
        content: "";
        width: 15px;
        height: 15px;
        background: #ECECEC;
        transform: rotate(45deg);
        border: 1px solid #ABABAB;
        border-top-color: transparent;
        border-left-color: transparent;
        bottom: -7px;
        right: 5px;
        position: absolute;
    }
    &__item{
        border: 1px solid #ABABAB;
        background: #ffffff;
        // margin-right: 10px;
        border-radius: $builder-radius;
        &:last-child{
            margin-right: 0;
        }
    }
    &__title{
        margin: 0;
        padding: 5px 10px;
        text-align: center;
        color: #ffffff;
        background: $builder-background--primary;
        margin: -1px;
        border-top-right-radius: $builder-radius;
        border-top-left-radius: $builder-radius;
    }
    &__body{
        padding: 10px !important;  
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            color: #333333;
            padding: 5px 10px;
            margin-right: 7px;
           background: #ECECEC;
           border: 1px solid #98A4A5;
           border-radius: 3px;
           cursor: pointer;
           &:last-child{
               margin-right: 0;
           }
           &.is-active,
           &:hover{
            background-color: $builder-brand;
            border-color: $builder-brand;
            color: #ffffff;
            box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
           }
        }
    }

    &__alignment{
        margin-right: 15px;
    }
}

/* Right  column */
.rt-editor__column.right{
    .rt-setting{
        right: 0;
        left: auto;
    }
    .rt-setting::before{
        right: 15px !important;
        left: auto !important;
    }
}


