.rt-company {
    &__logo {
        margin-bottom: 15px;
    }
    &__list {
        margin: 0;
        margin-top: 25px;
        padding: 0;
        list-style: none;
        i {
            margin-right: 5px;
            min-width: 20px;
        }
        li {
            margin-bottom: 5px;
            display: flex;
            flex-grow: wrap row;
        }
    }
}