.rt-profile {
    border: 1px solid $border-color;
    padding: 15px;
    border-radius: $border-radius;
    &__thumbnail {
        width: 80px !important;
        height: 80px;
        border-radius: 100%;
        margin-bottom: 15px;
        border: 3px solid $color-base;
    }
    &__title {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        a{
            color: $color-primary;
        }
    }
    &__position{
        color: $color-third;
        margin-bottom: 15px;
        font-size: 12px;
    }
    &__content {
        margin-bottom: 15px;
    }
}

/*=================================================
*  LIST
=================================================== */

.rt-profile--list {
    @include media-min(sm) {
        display: flex;
        flex-flow: row wrap;
        .rt-profile {
            &__thumbnail {
                margin-right: 15px;
            }
            &__body {
                flex: 1;
            }
        }
    }
}

/*=================================================
*  CENTER
=================================================== */

.rt-profile--center {
    text-align: center;
    padding: 0;
    overflow: hidden;
    .rt-profile__background {
        margin-bottom: -50px;
        height: 160px;
    }
    .rt-profile__thumbnail {
        border-radius: 100%;
        margin: 0 auto;
        z-index: 2;
    }
    .rt-profile__sosmed {
        justify-content: center;
        margin-bottom: 30px;
    }
    .rt-profile__body {
        padding: 15px;
    }
    .rt-socmed {
        justify-content: center;
    }
}