.rt-sidepanel {
    position: fixed;
    z-index: 99999999;
    right: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;

    &__overlay {
        position: absolute;
        right: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $color-backdrop;
    }

    &__inner {
        position: fixed;
        z-index: 999999999;
        top: 0;
        right: 0;
        bottom: 0;
        width: 340px;
        height: 100%;
        background-color: $color-base;
        display: none;

        @include breakpoint(0, 400) {
            width: calc(100% - 60px);
        }
    }

    &__header {
        position: relative;
        padding: 10px 15px;
        background-color: $dark-primary;
        text-align: center;
    }

    &__title {
        color: $color-base;
        margin: 0;
        text-transform: uppercase;
        font-size: 16px;
    }

    &__body {
        padding: 15px;
        height: calc(100% - 40px);
        overflow-y: auto;
    }

    &__close {
        position: absolute;
        left: 15px;
        text-transform: uppercase;
        color: $color-base;
        font-size: 18px;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            color: $color-base;
        }
    }

    &__close-outner {
        left: -32px;
        width: 32px;
        line-height: 32px;
        background-color: $gray-lighten;
        text-align: center;
        color: #222;
        position: absolute;
        top: 32px;
        color: $color-primary;
        font-size: 12px;

        &:hover {
            background-color: $gray-light;
        }
    }
}

// left panel
.rt-sidepanel--left {
    .rt-sidepanel {
        &__inner {
            right: auto;
            left: 0;
        }

        &__close-outner {
            right: -32px;
            left: auto;
        }

        &__close {
            right: 15px;
            left: auto;
        }
    }
}

// bottom panel
.rt-sidepanel--bottom{
    .rt-sidepanel{
        &__inner{
            top: auto;
            width: auto;
            height: auto;
            left: 0;
        }
    }
}