.widget-search {
  position: relative;

  .widget-search_submit {
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    top: 3px;
    line-height: 37px;
    cursor: pointer;
  }
}

.rt-widget--search-squared{
  .form_input{
    border-radius: 0;
  }
}

.rt-widget--search-round{
  .form_input{
    border-radius: $border-radius;
  }
}

.rt-widget--search-rounded{
  .form_input{
    border-radius: 100px;
  }
}
