/*=================================================;
/* STEP CHECKOUT
/*================================================= */
.rt-step-checkout {
    position: relative;
    display: flex;

    &::before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #dc9814;
        background-size: 35px 35px;
        content: "";
    }

    li {
        position: relative;
        list-style: none;
        flex: 1;
        text-align: center;
        padding-top: 30px;

        a {
            color: $color-primary;
        }

        // &:before {
        //     position: absolute;
        //     z-index: 5;
        //     top: -15px;
        //     left: 50%;
        //     border: 6px solid #fff;
        //     transform: translateX(-50%);
        //     width: 35px;
        //     height: 35px;
        //     line-height: 33px;
        //     background: #444;
        //     color: $color-base;
        //     border-radius: 100px;
        // }
    }
}