.js .woocommerce .quantity {
  position: relative;

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.rt-qty {
  margin-bottom: 10px;

  span {
    height: 38px;
    width: 25px;
    background: $gray-light;
    border: 1px solid $border-color;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;

    &:hover {
      background: $gray;
    }
  }

  &__min {
    left: 0;
  }

  &__max {
    right: 0;
  }
}

.no-js {
  .rt-qty {
    &__min {
      display: none;
    }

    &__max {
      display: none;
    }
  }
}

/*=================================================;
/* WOOCOMMER GLOBAL HEADING
/*================================================= */

.woocommerce h2 {
  font-size: map-get($font-sizes, "h4");
  margin-bottom: em(15px);

  @include media(sm) {
    font-size: map-get($font-sizes-sm, "h4");
    margin-bottom: em(10px);
  }
}

.woocommerce .rt-header-block {
  &__title {
    margin-bottom: 0;
  }
}

/*=================================================;
/* RATING
/*================================================= */

.woocommerce .star-rating {
  color: orange;
  font-size: 12px;
  line-height: 1;
  height: 14px;

  &:before {
    color: orange;
  }
}

/*=================================================;
/* PRICE
/*================================================= */
.order-total {
  font-size: 18px;
}

.woocommerce-Price-currencySymbol {
  font-size: 1rem !important;
  margin: 5px;
}
// .woocommerce .price{
//   ins{
//     color: $color-highlight;
//   }
// }
/*=================================================;
/* LAYOUT
/*================================================= */
@media only screen and (min-width: 959px) {
  .product-template--minimalis .page-wrapper .page-container {
    width: 960px;
  }
}

// product template layout
.product-template--left-gallery .wc-single-gallery {
  @media only screen and (min-width: 1170px) {
    .woocommerce-product-gallery {
      padding-left: 97px !important;
    }
    .flex-control-nav{
        max-width: 82%;
    }
    .owl-carousel {
      position: absolute;
      left: -185px;
      top: 187px;
      transform: rotate(90deg);
      width: 470px;
    }

    .owl-item {
      transform: rotate(-90deg);
      width: 83px !important;
    }

    span.onsale {
      left: 105px !important;
    }
  }
}
