/*=================================================
*  TABLE
=================================================== */
.woocommerce-product-attributes,
.shop_table {
  border-radius: $border-radius;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border-color;

  &__header {
    background: $gray-lighten;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: $gray-light;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-bottom: 1px solid $border-color;
    outline: none;

    th {
      font-weight: $font-weight;
      vertical-align: middle;
      padding: 8px 15px;
      line-height: 1.5;
      text-align: left;
    }

    td {
      padding: 8px 15px;
      line-height: 1.5;
      vertical-align: middle;
      text-align: left;
    }
  }
  strong {
    font-weight: $font-weight;
  }
}

